<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configuration_path>E:\VaultData\VaultStructureReplicator\Log</configuration_path>
  <log_level>Info</log_level>
  <!-- <mail_settings>
    <sender>selubudbapp01@tetrapak.com</sender>
    <password></password>--> <!-- Kryptera lösenord.-->
    <!--<receivers>
      <receiver>backup@mcad.se</receiver>
      <receiver>kent.fast@tetrapak.com</receiver>
    </receivers>
    <host>smtp.tetrapak.com</host>
    <port>25</port>
    <use_tls>True</use_tls>
  </mail_settings> -->
  <use_notifications>False</use_notifications>
  <use_last_sync_date>False</use_last_sync_date>
  <login_mode>Read</login_mode> <!-- Read or Write -->


</configuration>