<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configuration_path>%public%\Documents\MCAD\VaultEagle\configuration</configuration_path>
  <log_level>Trace</log_level>
  <!-- <mail_settings> 
    <sender></sender>
    <password></password> 
    <receivers>
      <receiver></receiver>
    </receivers>
    <host></host>
    <port>587</port>
    <use_tls>True</use_tls> 
  </mail_settings> 
  <mail_log>Error</mail_log> -->
  <use_notifications>False</use_notifications>
  <login_mode>Read</login_mode>  <!-- Read or Write -->
  <!-- <check_online_servers>
     <check_online_server>dummyserver</check_online_server>
    <check_online_server>2080@seluautolic01;2080@usdeautolic01;2080@sgjuautolic01</check_online_server> 
    <check_online_server>www.google.com</check_online_server>
    <check_online_server>%ADSKFLEX_LICENSE_FILE%</check_online_server> 
  </check_online_servers> -->
</configuration>