<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configuration_path>%localappdata%\MCAD\VaultEagle\configuration</configuration_path>

  <!-- Examples -->
  <synchronization_commands>
    <synchronization_command>-i|$/Designs/Data/Chassis CH -e|abcdefghijkl -r| -s|Releases,Work in Progress -is|Obsolete -sf|Under Revision</synchronization_command>
    <synchronization_command>-i|$/Data -e|Chassis CH -r| -p|.ipt,.iam,.txt 
                            -lf|test.exe,test2.exe -d|Powertrain,Steering ST/M-ST-1000.ipt 
                            -fm|source=Electrical EL;target=M:\Användare\Martin\Raccoontest 
                            -m|Brakes BR
    </synchronization_command>
    <synchronization_command>-i|$/Data/test.bat -run|.bat,.exe</synchronization_command>
    <synchronization_command>-i|$/Libraries -r| -w| -o|E:\Data\Libraries</synchronization_command>
    <synchronization_command>-i|$/Data/Chassis CH -r| -m| -o|E:\Data\test</synchronization_command> 
  </synchronization_commands>

  <!-- 
    Flags:
   -i| input flag, what vault path too synchronize.
   -o| output flag, where to sync to (if no -o| flag, the program uses vault_root). Can use environmental variables.
   -e| exclude sub path from input, can be folders and files. (',' separated => '$/test,$/abs/test1.txt'.)
   -r| recursive synchronization.
   -p| patterns to include. '/' => only download folders. If excluded from command download all file types. ',' separated.
   -d| delete these, can be folders and files. ',' separated. Can use a relative vault path.
   -w| make the files writable (Removes readonly flag). Should NOT be followed by input.
   -run| Run these file patterns. ',' separated. Files will only be run if they're downloaded.
   -m| Mirror folders. Will remove files not in the vault folder from folder. ',' separated. Can use relative vault path. If no path, mirror input folder.
   -fm|source=;target= Folder mappings, these affect other flags (such as mirror). source and target separated with ';'. Multiple mappings separated with ','. Source can be relative. Target can use environmental variables.
   -s| states to download (Released, Work in Progress). ',' separated.
   -is| Invalid states. These files are removed. (Obsolete). ',' separated.
   -sf| Skip folder category. ',' separated. (Under Revision). Wont be downloaded.
   -f| Force download (does not check if same file exist on disk).
   -lck| Special treatment for files locked by vault. These will be downloaded to a temp folder and moved when vaulteagleconsole logs off vault.
   
  -->
  
  <vault_root>E:\VaultEagle\test</vault_root>

  <run_files>
    <get_and_run>$/Data/test.bat</get_and_run>
  </run_files>
  <network_retries>5</network_retries>
</configuration>